# NOTE: after setting up a new pi, i found the follow webpage is more useful
https://pythonhosted.org/triangula/sixaxis.html

# Configuration:
# sudo apt-get -y install bluez bluez-hcidump libbluetooth-dev libusb-dev joystick checkinstall

# [Pairing only once, Plug PS3 controller into pi via USB]
# bluetoothctl
# agent on
# devices
# pair [MAC]
# trust [MAC]
# quit

# wget http://www.pabr.org/sixlinux/sixpair.c
# gcc -o sixpair sixpair.c -lusb
# sudo ./sixpair

# sudo apt-get install libpython2.7-dev
# sudo pip install triangula

# [For USB Serial to Arduino, install PySerial]
# sudo apt-get install python-serial
